<nav class="bg-primary text-white p-4 flex justify-between items-center">
  <div class="text-lg font-bold">Mi Plataforma</div>
  <div class="flex gap-6">
    <a routerLink="/" class="hover:underline cursor-pointer">Inicio</a>
    <a routerLink="/gestion-usuarios" class="hover:underline cursor-pointer">
      Gestión de Usuarios
    </a>
    <a routerLink="/contacto" class="hover:underline cursor-pointer">
      Contáctenos
    </a>

    <!-- Botón dinámico -->
    <button
      *ngIf="nombreUsuario; else registrar"
      (click)="cerrarSesion()"
      class="bg-red-600 hover:bg-red-700 text-white font-bold py-1 px-4 rounded"
    >
      Cerrar sesión
    </button>

    <ng-template #registrar>
      <a
        routerLink="/"
        class="bg-green-600 hover:bg-green-700 text-white font-bold py-1 px-4 rounded cursor-pointer"
      >
        Registrarse
      </a>
    </ng-template>
  </div>
</nav>

<div
  class="flex flex-col justify-center items-center bg-gray-50 p-6 min-h-[calc(100vh-64px)]"
>
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <h1 class="text-2xl font-bold mb-6 text-center">
      Bienvenido <span>{{ nombreUsuario || "Usuario" }}</span>
    </h1>

    <p *ngIf="nombreUsuario" class="text-sm text-gray-600 text-center">
      Rol: {{ rolUsuario }}
    </p>

    <form *ngIf="!nombreUsuario" (ngSubmit)="guardar()">
      <input
        [(ngModel)]="nombre"
        name="nombre"
        placeholder="Nombre"
        class="w-full mb-4 border px-4 py-2 rounded"
        required
      />
      <input
        [(ngModel)]="correo"
        name="correo"
        placeholder="Correo electrónico"
        class="w-full mb-4 border px-4 py-2 rounded"
        required
      />

      <select
        [(ngModel)]="rol"
        name="rol"
        class="w-full mb-4 border px-4 py-2 rounded"
        required
      >
        <option value="" disabled selected>Seleccione un rol</option>
        <option value="Administrador">Administrador</option>
        <option value="Visualizador">Visualizador</option>
      </select>
      <button
        type="submit"
        class="w-full bg-primary text-white py-2 rounded hover:bg-gray-700"
      >
        Guardar
      </button>
    </form>
  </div>
</div>
